{% extends 'home.html' %}
{% load static %}

{% block title %}
{{post.title_tag}}
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
{% if post.header_image %}
    <img src="{{post.header_image.url}}" alt="">
{% endif %}

<small>By : {{ post.author.first_name }}
    {{post.author.last_name}}<br>
    Category : {{post.category}} <br>
</small>
{{post.body | safe}}

{% if user.is_authenticated  and user.id == post.author.id %}
<a href="{% url 'UpdateViewPost' post.pk %}"><button class="btn-primary">Edit</button></a>
<br>
<a href="{% url 'DeleteViewPost' post.pk %}"><button class="btn-danger">Delete</button></a>
<br>
{% endif %}

<br>

<a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Back</button></a>

<br><br>
<hr>
<br>



<!-- Likes section code  -->

<br><br>
<h4>Author's Profile</h4>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if post.author.profile.profile_pic.url %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="">
        {% else %}
            <img src="{% static 'blog/images/default_pic.jpg'%}" class="img-fluid rounded-start" alt="">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.author}}</h5>
          <p class="card-text">{{post.author.profile.bio}}</p>
          <p class="small text-muted">

            
            
            {% if post.author.profile.id %}
            <a href="{% url 'profile' post.author.profile.id %}">Author Profile | </a>
            {% endif %}

            {% if post.author.profile.website_url%}
                <a href="{{post.author.profile.website_url}}">Website | </a>
            {% endif %}

            {% if post.author.profile.facebook_url%}
                <a href="{{post.author.profile.facebook_url}}">facebook | </a>
            {% endif %}

            {% if post.author.profile.twitter_url%}
                <a href="{{post.author.profile.twitter_url}}">twitter | </a>    
            {% endif %}

            {% if post.author.profile.instagram_url%}
                <a href="{{post.author.profile.instagram_url}}">instagram | </a>
            {% endif %}

            {% if post.author.profile.pintrest_url %}
                <a href="{{post.author.profile.pintrest_url}}">pinterest | </a>
            {% endif %}
            
          </p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment section  -->

<h2>Comments...</h2>
{% if not post.comments.all %}
  No Comments Yet ... <a href="#">
    Add One
  </a>
{% else %}
<a href="{% url 'add_comment' post.pk%}">Add Comments</a><br><br>
  {% for comment in post.comments.all %}
    <strong>{{comment.name}} - {{comment.date_added}}</strong>
    <br>
    {{comment.body}}
    <br><br>
  {% endfor %}

{% endif %}
<br><hr><br>
<a href="{% url 'add_comment' post.pk %}">Add Comments</a><br><br>


{% endblock %}

