{% extends 'home.html' %}

{% block title %}
Add Post
{{post.title_tag}}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h1>Create posts</h1>

<div class="jumbotron">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <hr>
        <button class="btn-primary">Post</button>
    </form>
</div>

<script>
    var name = "{{user.id}}";
    document.getElementById("author_id").value=name;
</script>

<!-- javascript code to put the value in frontend directly since our form was getting executed from backend and there we cannot get user.id.  -->

{% else %}
<h1>You are not allowed here and you know it.</h1>
{% endif %}

{%endblock%}

