{% extends "home.html" %}

{% block title %}
Updating post
{% endblock %}

{% block content %}

{% if user.is_authenticated%}

<h1>Update Post</h1>

{% if user.id == post.author.id %}

<div class="jumbotron">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <hr>
        <button class="btn-primary">Post</button>
    </form>
</div>

{% else %}
<h1>You are not allowed here and you know it!</h1>

{%endif%}

{% else %}
<h1>You are not allowed here and you know it!</h1>
{% endif %}

{% endblock %}